#header{
    text-align: center;
    color: white;
    background-color: rgb(115, 255, 0);
    top: 0;
    font-size: 30px;
    
}

#status{
    text-align: center;
    margin-left: 720px;
    font-size: 20px;
}

#object-detected{
    text-align: center;
    font-size: 20px;
}

#note{
    
    color: white;
    text-align: center;
    margin-left: 700px;
}

canvas{
    background-color: white;
    margin-top: 100px;
    border-width: 5px;
    border-color: black;
    border-radius: 20px;
}